
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Simple HTML Page</title>
</head>
<body>
  <h1>Weather API</h1>
  <a href="/about">about</a>
  <a href="/contact">contact</a>

  <p>URL format : http://127.0.0.1:5000//api/v1/<station>/<date></p>
  <p>URL example : http://127.0.0.1:5000//api/v1/12525/YYYY-MM-DD</p>
  <p> Stations : </p>
  <p>{{data | safe}}</p>

  <p>This is Home page.</p>
</body>
</html>
